@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xamj5b');
  src:  url('fonts/icomoon.eot?xamj5b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xamj5b') format('truetype'),
    url('fonts/icomoon.woff?xamj5b') format('woff'),
    url('fonts/icomoon.svg?xamj5b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baluokegzs:before {
  content: "\e901";
}
.icon-baihuzihzq:before {
  content: "\e900";
}
.icon-bedg:before {
  content: "\e904";
}
.icon-beijihzq:before {
  content: "\e905";
}
.icon-beili:before {
  content: "\e906";
}
.icon-bigmomhzq:before {
  content: "\e907";
}
.icon-caomaohzq:before {
  content: "\e908";
}
.icon-duofujiazu:before {
  content: "\e90c";
}
.icon-emgs:before {
  content: "\e90d";
}
.icon-gdbq:before {
  content: "\e90e";
}
.icon-haijunbenbulogo:before {
  content: "\e910";
}
.icon-heihuzihzq:before {
  content: "\e914";
}
.icon-hongfahzq:before {
  content: "\e915";
}
.icon-hzg:before {
  content: "\e916";
}
.icon-jidehzq:before {
  content: "\e917";
}
.icon-jiushehzq:before {
  content: "\e918";
}
.icon-jubinghzq:before {
  content: "\e919";
}
.icon-kaiduohzq:before {
  content: "\e91a";
}
.icon-lszw:before {
  content: "\e91b";
}
.icon-luohzq:before {
  content: "\e91d";
}
.icon-luojiehzq:before {
  content: "\e91e";
}
.icon-moliyahzq:before {
  content: "\e91f";
}
.icon-sjzf:before {
  content: "\e920";
}
.icon-taiyanghzq:before {
  content: "\e922";
}
